{% load staticfiles %}
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		
        <title>Ibtisam's blog</title>
		
		 <!-- Bootstrap related -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		
		 <!-- Custom fonts for this template -->
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'/>
		<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,400,200,300' rel='stylesheet' type='text/css'/>
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400italic,700,700italic' rel='stylesheet' type='text/css'/>
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,200,100,300' rel='stylesheet' type='text/css'/>
		 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
		 
		<!-----------CSS files ---------->
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>

    
    <body>

<!----------------------title-------------------------------->
		<div class="row">
			<div class="twelve columns text-center">
				<h1 class="main-title">Ibtisam<small>Sheikh</small></h1>
				<h1 class="main-title2">Welcome to my blog, I am an electronic engineer/developer</h1>
			</div>
		</div>
		
<!--------------------Zig Zag Pattern------------------------->
			<div class="container zig-zag">
				<hr class="zig">
				<hr class="zag">
			</div>
		

<!---------jumbotron----------------------------------------
		<div class="container-fluid jumbo">
			<div class="jumbotron">
				<h1>Navbar example</h1>
					<p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
					<a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs</a>
			</div>
		</div-->
		
	<div class="container-fluid outer">
	
		<div class="container inner">
			<div class="container">
				<nav class="navbar navbar-default bg-faded navbar-fixed-top">
				  <div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  <a class="navbar-brand" href="/">I.S.</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					 
					 <!-- drop down menu -->
					  <ul class="nav navbar-nav">
						<li><a href="#">About me <span class="sr-only">(current)</span></a></li>
						<li><a href="#">Contact</a></li>
						<!--li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						  <ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						  </ul>
						</li-->
					  </ul>
					  
					  <div class="search-bar pull-right">
					  <input type="text" name="search" placeholder="Search..">
					  </div>
					  
					</div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			</div>
			

		<!----------------------Content------------------------------->
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-8 col-xs-8">
							<div class="content">
								<!-- Blog Entries Column -->
								<div>
									{% block content %}
									{% endblock %}
									<nav aria-label="...">
									  <ul class="pager">
										<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
										<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
									  </ul>
									</nav>
								</div>
								</div>
							</div> 
						<div/>
					</div>
				</div>
			</div>
		</div>
	

	<footer> 
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="navbar-text pull-left">
					<p class="copyright text-muted">All rights reserved &copy; Ibtisam Sheik 2017</p>
				</div>
				
				<div class="navbar-text pull-right">
					<a href="#"><i class="fa fa-twitter color-twitter fa-2x"></i></a>
					&nbsp;
					<a href="#"><i class="fa fa-facebook color-facebook fa-2x"></i></a>
					&nbsp;
					<a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></i></a>
					&nbsp;
					<a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
				</div>
				</div>
		</div>
	</footer>
 </body>


<!-- Bootstrap core JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
   
</html>

